<header class="site-header">

  <div class="wrapper">

    <div class="site-title">
        <div class="site-title-logo" style="float:left; margin-right: 10px;">
            <a href="{{ site.baseurl }}/" style="float: left;"><img src="{{ "/assets/img/wintermute-logo.png" | prepend: site.baseurl }}" height="100"></a>
        </div>
         <div class="site-title-text" style="float:right; max-width: 350px;">      
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
          <br>
          <small class="site-claim">{{ site.description }}</small>
         </div>
         <div style="clear:both"></div> 
   </div>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>        
        {% assign filtered_nav = site.pages | where_exp:"p","p.nav_display == 1" | sort:"nav_order" %}
        {% for page in filtered_nav %}
          {% if page.title %}
          <a class="page-link" href="{{ page.permalink | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <div style="clear:both"></div>

  </div>

</header>
